@charset "utf-8";

.section {}
.section h2 {line-height:1; text-align:center;}
.section h2 p {font-weight:200; font-size:4.5rem; line-height:1; letter-spacing:-3px; color:#5b5b5b;}
.section h2 p:first-child {color:#000;}
.section h2.blue p:first-child {color:#fff;}
.section h2.blue p:last-child {color:#b9c1d4;}
.section h3 {display:inline-block; *display:inline-block; position:relative; font-weight:300; font-size:1rem; color:#000; line-height:1; letter-spacing:10px; zoom:1;}
.section h3:before {content:""; display:block; position:absolute; top:.5rem; left:-2.2rem; background:#000; width:1rem; height:1px;}
.section h3:after {content:""; display:block; position:absolute; top:.5rem; right:-1.8rem; background:#000; width:1rem; height:1px;}
.section .box_tit {margin-top:2.8rem; text-align:center;}
.section h3.blue {color:#fff;}
.section h3.blue:before {background:#fff;}
.section h3.blue:after {background:#fff;}
.section h4 {line-height:1; text-align:center;}
.section h4 p:first-child {display:inline-block; *display:inline-block; background:#000; padding:.3rem 1rem; font-weight:300; font-size:.7rem; color:#fff; letter-spacing:8px; zoom:1;}
.section h4 p:last-child {margin-top:.3rem; font-weight:400; font-size:2.5rem; color:#000; letter-spacing:-2px;}

/* work */
.workBox {position:relative; padding-top:8.5rem;}
.workBox .works_list {width:100%;}
.workBox h2 p:last-child {font-size:.7rem; color: #221e1f; font-weight: 200; padding-top: 1rem; letter-spacing: 0;}

.workBox .works_list .view_category {position:relative; margin-top:2.4rem; text-align:center;}
.workBox .works_list .view_category ul {display:inline-block; *display:inline-block; padding:0 1.5rem; zoom:1;}
.workBox .works_list .view_category ul:after {content:""; display:block; clear:both;}
.workBox .works_list .view_category ul li {position:relative; float:left; margin: 0 .4rem; }
.workBox .works_list .view_category ul li a {font-weight:300; font-size:.7rem; padding:0 .45rem; color:#a4a4a4; display: block; line-height: 1.4rem;}
.workBox .works_list .view_category ul li.active { background:#000; }
.workBox .works_list .view_category ul li.active a {color:#fff;}
.workBox .works_list .view_category.mobile {display:none; overflow-x: auto; margin-top:2rem;}
.workBox .works_list .view_category.mobile ul {width:47rem; padding:0; border-bottom:0;}
.workBox .works_list .view_category.mobile ul li {margin-left:.36rem; padding:0; border:1px solid #e6e6e6;}
.workBox .works_list .view_category.mobile ul li:first-child {margin-left:0;}
.workBox .works_list .view_category.mobile ul li a {display:block; min-width:6.5rem; height:2.875rem; line-height:2.875rem; padding:0 1.05rem; font-size:.7rem; color:#000;}
.workBox .works_list .view_category.mobile ul li.active a {background:#000; color:#fff;}

.workBox .works_list .list_view {position:relative; width:100%; margin-top:4rem;}
.grid ul:after {content:""; display:block; clear:both;}
.grid ul li {display:inline-block; float:left;}
.grid ul li img {width:auto;}

.workBox .works_list .list_view ul:after {content:""; display:block; clear:both;}
.workBox .works_list .list_view ul li {position:relative; float:left; width:auto; overflow:visible;}
.workBox .works_list .list_view ul li a {display:block; position:relative; width:100%; height:100%;}
.workBox .works_list .list_view ul li a>img {width:auto;}
.workBox .works_list .list_view ul li a>img.mobile {display:none;}
.workBox .works_list .list_view ul li .bgitem {position:absolute; top:-.5rem; left:-.5rem; right:0; bottom:0; background:rgba(245,245,245,0.6); width:100%; height:100%; border:.5rem solid rgba(245,245,245,0.6); outline:1px solid #f0f0f0; text-align:center; vertical-align:middle; opacity:0;}
.workBox .works_list .list_view ul li .bgitem img {display:inline-block; *display:inline-block; width:2.25rem; height:2.25rem; margin-top:30%; vertical-align:middle; opacity:0; zoom:1;}

.workBox .works_list .list_view ul li a .data_box {width:100%; padding:1rem;}
.workBox .works_list .list_view ul li a .data_box p.tit {margin-bottom:.5rem; font-weight:100; color:#000; line-height:1.2; letter-spacing:-1px;}
.workBox .works_list .list_view ul li a .data_box p.tit.white {color:#fff;}
.workBox .works_list .list_view ul li a .data_box p.tit.blk {color:#000;}
.workBox .works_list .list_view ul li a .data_box p.notice {margin-bottom:.5rem; font-weight:200; font-size:.7rem; color:#a4a4a4;}
.workBox .works_list .list_view ul li a .data_box p.notice.white {color:#fff;}
.workBox .works_list .list_view ul li a .data_box p.notice.gray {color:#fff; opacity:.5;}
.workBox .works_list .list_view ul li a .data_box p.notice.gray2 {color:#000; opacity:.5;}
.workBox .works_list .list_view ul li a .data_box p.period {font-weight:200; font-size:.7rem; color:#a4a4a4;}
.workBox .works_list .list_view ul li a .data_box p.period.white {color:#fff;}
.workBox .works_list .list_view ul li a .data_box p.period.gray {color:#fff; opacity:.5;}
.workBox .works_list .list_view ul li a .data_box p.period.gray2 {color:#000; opacity:.5;}
.workBox .works_list .list_view ul li a .data_box p.period.none {display: none;}

.workBox .works_list .list_view ul li.intxt a .data_box {position:absolute; top:0; left:0;}
.workBox .works_list .list_view ul li.intxt a .data_box p.tit {font-size:1rem;}
/* .workBox .works_list .list_view ul li.intxt a .data_box p.notice {color:#000;} */
.workBox .works_list .list_view ul li.intxt a .data_box p.notice.white {color:#fff;}
.workBox .works_list .list_view ul li.intxt a .data_box p.notice.gray {color:#fff; opacity:.5;}
.workBox .works_list .list_view ul li.intxt a .data_box p.notice.gray2 {color:#000; opacity:.5;}
.workBox .works_list .list_view ul li.intxt a .data_box p.period {}
.workBox .works_list .list_view ul li.intxt a .data_box p.period.gray {color:#fff; opacity:.5;}
.workBox .works_list .list_view ul li.intxt a .data_box p.period.gray2 {color:#000; opacity:.5;}

.workBox .works_list .list_view ul li.outtxt a .data_box {position:relative;}
.workBox .works_list .list_view ul li.outtxt a .data_box p.tit {font-size:1rem;}
.workBox .works_list .list_view ul li.outtxt a .data_box p.notice {}
.workBox .works_list .list_view ul li.outtxt a .data_box p.period {}

.workBox .works_list .list_view ul li.boxintxt a .data_box {position:absolute; bottom:1.5rem; left:0; padding-right:8rem;}
.workBox .works_list .list_view ul li.boxintxt a .data_box p.tit {font-size:1.6rem;}
.workBox .works_list .list_view ul li.boxintxt a .data_box p.notice {}
.workBox .works_list .list_view ul li.boxintxt a .data_box p.period {}

.workBox .works_list .list_view ul li.boxouttxt a .data_box {position:relative;}
.workBox .works_list .list_view ul li.boxouttxt a .data_box p.tit {font-size:1.6rem;}
.workBox .works_list .list_view ul li.boxouttxt a .data_box p.notice {}
.workBox .works_list .list_view ul li.boxouttxt a .data_box p.period {}

.workBox .view_more {position:relative; margin-top:3rem;}
.workBox .view_more a {display:block; background:#f5f5f5; width:100%; height:2.3rem; line-height:2.3rem; border:1px solid #e6e6e6; font-weight:100; font-size:.7rem; color:#000; text-align:center;}

.workBox .works_list .list_view.mobile ul li {position:relative;}

/* about */
/*.aboutBox {position:relative; background:url(../images/about/about_bg.png) 50% 0 no-repeat; width:100%; height:164rem; margin-top:7.5rem; padding:7.5rem; z-index:5;}*/
.aboutBox {position:relative; background:#f4f4f4; width:100%; margin-top:7.5rem; padding:7.5rem; padding-bottom:0;}
.aboutBox:after {content:""; display:block; position:absolute; left:0; bottom:0; background:url(../images/about/about_bg02.png) 50% 100% no-repeat; width:100%; height:3rem; z-index:5;}
.aboutBox .about_mLine {display:none; margin-top:.5rem;}
.aboutBox .about_list {background:url(../images/about/about_bg00.jpg) 50% 95% no-repeat; width:100%; margin-top:3rem; padding-bottom:8rem;}
.aboutBox .about_list:after {content:""; display:block; clear:both;}
.aboutBox .about_list .list_box {position:relative; float:left;}
.aboutBox .about_list .list_box.left_box {width:49%; margin-right:1%;}
.aboutBox .about_list .list_box.right_box {width:49%; margin-left:1%;}
.aboutBox .about_list .list_box ul:after {content:""; display:block; clear:both;}
.aboutBox .about_list .list_box ul li {position:relative; float:left;}
.aboutBox .about_list .list_box.left_box ul li:first-child {width:66.113%; margin-right:2.2%;}
.aboutBox .about_list .list_box.left_box ul li:nth-child(2) {width:31.62%;}
.aboutBox .about_list .list_box.left_box ul li:last-child {width:100%; margin-top:1rem; text-align:right;}
.aboutBox .about_list .list_box.right_box ul li:first-child {width:31.62%; margin-right:2.2%;}
.aboutBox .about_list .list_box.right_box ul li:first-child>div:last-child {margin-top:1rem;}
.aboutBox .about_list .list_box.right_box ul li:nth-child(2) {width:31.906%; margin-right:2.2%; padding-top:25.75%;}
.aboutBox .about_list .list_box.right_box ul li:nth-child(2) a {display:block; position:absolute; bottom:5%; left:8%; padding:.3vw 0; font-weight:200; font-size:.677085vw; color:#fff; border-bottom:1px solid #fff;}
.aboutBox .about_list .list_box.right_box ul li:nth-child(2) a:hover {background:#fff; color:#000;}
.aboutBox .about_list .list_box.right_box ul li:last-child {width:31.62%;}
.aboutBox .about_list .list_box ul li img {width:auto;}

.aboutBox .about_business {position:relative; background:url(../images/about/about_bg01.png) 50% 92% no-repeat; background-size:47rem; margin-top:0rem; padding-bottom:7rem;}
.aboutBox .about_business .circle_box {}
.aboutBox .about_business .circle_box .box_digit {margin-top:1.8rem; text-align:center;}
.aboutBox .about_business .circle_box ul {display:inline-block; *display:inline-block; zoom:1;}
.aboutBox .about_business .circle_box ul:after {content:""; display:block; clear:both;}
.aboutBox .about_business .circle_box ul li {float:left; width:6.5rem; height:6.5rem; line-height:6rem; margin-right:.5rem; border:2px solid #27292a; border-radius:50%; text-align:center; zoom:1;}
.aboutBox .about_business .circle_box ul li:last-child {margin-right:0;}
.aboutBox .about_business .circle_box ul li.gray {background:#e3e3e3;}
.aboutBox .about_business .circle_box ul li.empty {border:0;}
.aboutBox .about_business .circle_box ul li p {display:inline-block; *display:inline-block; font-weight:100; font-size:.7rem; color:#000; line-height:1; vertical-align:middle; zoom:1;}

.aboutBox .about_award {position:relative; background:url(../images/about/about_bg00.jpg) 50% 100% no-repeat; margin-top:0rem; padding-bottom:7rem;}

.about_visual {position:relative; width:47rem; margin:0 auto; text-align:center;}
.about_visual .arrow {position:absolute; top:7.5rem; z-index:5;}
.about_visual .arrow a img:last-child {position:absolute; top:0; left:0; opacity:0;}
.about_visual .arrow.swiper-button-prev {left:1rem;}
.about_visual .arrow.swiper-button-next {right:1rem;}
.about_visual .award_visual_box {position:relative; overflow:hidden; width:100%; height:33.1rem;}
.about_visual .arrow {top:auto; bottom:13.9rem;}
.about_visual .arrow.swiper-button-prev {left:0;}
.about_visual .arrow.swiper-button-next {right:0;}
.about_visual .swiper-wrapper .swiper-slide img {position:relative; left:0; width:100%; margin-left:0;}
/* .about_visual .swiper-wrapper .swiper-slide-active {margin: 0 30px 0 140px;} */

.about_m_visual {display:none; margin-top:3rem;}
.about_m_visual {position:relative; width:100%; margin:0 auto; text-align:center;}
.about_m_visual .arrow {position:absolute; top:7.5rem; z-index:5;}
.about_m_visual .arrow a img:last-child {position:absolute; top:0; left:0; opacity:0;}
.about_m_visual .arrow.swiper-button-prev {left:1rem;}
.about_m_visual .arrow.swiper-button-next {right:1rem;}
.about_m_visual .award_visual_box {position:relative; overflow:hidden; width:100%; height:33.1rem;}
.about_m_visual .arrow {top:auto; bottom:9rem;}
.about_m_visual .arrow.swiper-button-prev {left:0;}
.about_m_visual .arrow.swiper-button-next {right:0;}
.about_m_visual .swiper-wrapper .swiper-slide img {position:relative; left:0; width:100%; margin-left:0;}

.aboutBox .about_clients {position:relative; margin-top:1rem;}
.aboutBox .about_clients .client_line {position:relative; bottom:1rem; text-align:center; z-index:6;}
.aboutBox .about_clients .client_line img {width:auto;}
.aboutBox .about_clients .clients_list {margin-top:2rem; padding-bottom:2rem;}
.aboutBox .about_clients .clients_list ul:after {content:""; display:block; clear:both;}
.aboutBox .about_clients .clients_list ul li {float:left; margin-bottom:.5%; margin-right:.5%; border:1px solid #ddd;}


/* contact */
/* .contactBox {position:relative; background:#2e488f; width:100%; height:53rem; margin-top:-3rem;} */
.contactBox {position:relative; background:url(../images/contact/contact_bg.jpg) 50% 0; background-size: cover; width:100%; height:53rem; margin-top:-3rem;}
.contactBox h2 {padding-top:8.5rem;}
.contactBox h2 {}
.contactBox .contact_wrap {position:relative; padding:3.5rem 1rem 0;}
.contactBox .contact_area {}
.contactBox .contact_area:after {content:""; display:block; clear:both;}
.contactBox .contact_area .info_box {float:left; position:relative; width:calc(100% - 950px); color:#fff;}
.contactBox .contact_area .info_box .info_cont {position:relative;}
.contactBox .contact_area .info_box .info_cont:before {content:""; display:block; position:absolute; left:0; top:-58px; width:26px; height:38px; background:url(../images/contact/contact_01.png) 50% 0;}
.contactBox .contact_area .info_box .info_img {display:none;}
.contactBox .contact_area .info_box .info_img img {width:auto;}
.contactBox .contact_area .info_box .info01 {font-size:1rem;}
.contactBox .contact_area .info_box .info01 p {font-weight:100; word-break:break-word;}
.contactBox .contact_area .info_box .info01 p span {display:block; font-weight:200;}
/* .contactBox .contact_area .info_box .info01 p span:last-child {margin-left:20px;} */
.contactBox .contact_area .info_box .info02 {margin-top:1rem; font-size:.7rem;}
.contactBox .contact_area .info_box .info02 dl {display:table; margin-top:.25rem; width:100%;}
.contactBox .contact_area .info_box .info02 dl dt {display:table-cell; width:110px; font-weight:200;}
.contactBox .contact_area .info_box .info02 dl dd {display:table-cell;}
.contactBox .contact_area .info_box .info02 dl dd span {display:inline-block; padding-left:.3rem;}
.contactBox .contact_area .info_box .info03 {margin-top:2rem;}
.contactBox .contact_area .info_box .info04 {margin-top:2rem;}
.contactBox .contact_area .info_box .info04 p {font-weight:100; font-size:1rem;}
.contactBox .contact_area .info_box .info04 p.info_txt {margin-top:1rem; font-weight:200; font-size:.7rem; line-height:1.5;}
.contactBox .contact_area .info_box .info04 .info_btn {margin-top:.75rem;}
.contactBox .contact_area .info_box .info04 .info_btn a {display:inline-block; padding:5px 2px; font-weight:200; font-size:.65rem; color:#fff; border-bottom:1px solid #fff;}
.contactBox .contact_area .info_box .info04 .info_btn a:hover {background:#fff; color:#354e93;}
.contactBox .contact_area .map_box {position:relative; float:right; margin-left:10px; width:940px;}
.contactBox .contact_area .map_box:after {content:""; display:block; clear:both;}
.contactBox .contact_area .map_box .img_box {float:left; width:220px;}
.contactBox .contact_area .map_box .map {float:left; margin-left:20px; width:700px; height:400px; background:#000;}
.contactBox .contact_area .map_box .map #map_office {width:100%; height:100%;}

/* popup */
.inputBox {display:inline-block; *display:inline-block; position:relative; top:0; left:0; width:100%; height:2.5rem; text-align:left; zoom:1;}
.inputBox label {position:absolute; top:0; left:0; width:100%; height:100%; line-height:2.5rem; padding-left:.9rem; cursor:text; color:#000; font-size: .7rem;}
.inputBox input {width:100%; height:100%; padding-left:.9rem; border:1px solid #e6e6e6; border-radius:0; outline-style:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.selectBox {display:inline-block; *display:inline-block; position:relative; top:0; left:0; width:100%; height:2.5rem; background:#fff url(../images/icon/sel_arr00.png) 93% 50% no-repeat; line-height:50px; border:1px solid #e0e1e2; zoom:1;}
.selectBox label {position:absolute; top:0; left:0; width:100%; height:100%; line-height:2.5rem; padding-left:.9rem; font-size:.7rem; color:#000;}
.selectBox select {position: absolute;top: 0; left: 0; width:100%; height: 100%;opacity:0; filter:alpha(opacity=0);}
.selectBox select option {font-size:.7rem;}

.areaBox {display:inline-block; *display:inline-block; position:relative; width:100%; height:6rem; zoom:1;}
.areaBox label {position:absolute; top:0; left:0; width:100%; height:100%; padding-left:.9rem; padding-top:.9rem; font-size:.7rem; cursor:text; color:#000;}
.areaBox textarea {width:100%; height:100%; padding-top:.9rem; padding-left:.9rem; line-height:1.4; border:1px solid #e6e6e6; border-radius:0; outline-style:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.checkBox {display:inline-block; *display:inline-block; position:relative; top:0; margin-bottom:.5rem; zoom:1;}
.checkBox input[type="checkbox"] { display:none; }
.checkBox input[type="checkbox"] + label { display:inline-block; *display:inline-block; position:relative; top:0px; padding-left:2rem; height: 1.5rem;line-height: 1.5rem;font-weight: bold;color:#000; cursor:pointer; zoom:1;}
.checkBox input[type="checkbox"] + label:before { content:""; display:inline-block; *display:inline-block; position:absolute; left:0px; bottom:0px; width:1.5rem; height:1.5rem; background-color:#fff; border:2px solid #000; border-radius:3px; box-sizing:border-box; zoom:1; }
.checkBox input[type="checkbox"]:checked + label:before { content:""; background:#fff url("../images/icon/check_bg.png") 50% 50% no-repeat; background-size: 1rem; color:#000; font-size:.7rem; border-color:#000;}

.filebox {position: relative;}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
.filebox label {display: block; width: 100%;height: 100%;padding: .7rem .9rem; position: absolute; left: 0;top: 0;color: #000;}
.filebox .upload-name {display: inline-block;width: 100%;padding: .7rem .9rem;color: #000;font-size: .7rem;line-height: normal;vertical-align: middle;background-color: #fff;cursor: pointer;border: 1px solid #e6e6e6;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.btn_submit {display:inline-block; *display:inline-block; width:100%; zoom:1;}
.btn_submit a {display:block; position:relative; background:#000 url(../images/icon/btn_detail_on.png) 90% 50% no-repeat; width:100%; height:2.25rem; padding-left:1rem; line-height:2.25rem; font-weight:100; font-size:.65rem; color:#fff; border-radius:3px; border:1px solid #000;}
.btn_submit a:hover {background:url(../images/icon/btn_detail_on02.png) 90% 50% no-repeat;}

html.fixed {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup_hide {display: none;}
.popup_wrap {position: fixed;left: 0;top: 0; width:100%; height:100%; background: #fff;overflow-y: auto;overflow-x: hidden;z-index: 100;}
.popup_wrap .pop_cont {position:relative;padding: .5rem;}
.popup_wrap .pop_cont .popup_body {width: 100%;max-width: 940px;margin: 0 auto;padding-bottom: 3rem;}
.popup_wrap {}
.popup_wrap h2 {position: relative;padding-bottom: 3rem;margin-bottom: .5rem;}
.popup_wrap h2 .tit {font-size: 4.5rem;font-weight: bold;letter-spacing: -7px;text-align: center;}
.popup_wrap h2 .intro {margin-top: .5rem;color: #a4a4a4;font-size: .7rem;font-weight: normal;line-height: 1.5;text-align: center;}
.popup_wrap .pop_close {display: block;position: absolute;bottom: 0;right: 0;width: 2.25rem;height: 2.25rem;background: url(../images/icon/btn_close.png);background-size: cover;-webkit-transition: background .2s ease-out; -moz-transition: background .2s ease-out; -o-transition: background .2s ease-out; transition: background .2s ease-out;}
.popup_wrap .pop_close:hover {background: url(../images/icon/btn_close_over.png);}
.popup_wrap dl {position: relative;width: 100%;padding: .5rem 0;border-top: 2px solid #000;}
.popup_wrap dl:after {content:""; display:block; clear:both;}
.popup_wrap dt {display: block;float: left;width: 20%;padding-top: .5rem;font-size: 1.6rem;font-weight: bold;letter-spacing: -2px;line-height: 1.2;vertical-align: top;}
.popup_wrap dd {display: block;float: left;width: 80%; font-size:.7rem;}
.popup_wrap dd ul:after {content:""; display:block; clear:both;}
.popup_wrap dd ul li {position: relative;float: left;margin: .5rem 1%;}
.popup_wrap dd ul li.textbox0 {width: 32%;}
.popup_wrap dd ul li.textbox1 {width: 66%;}
.popup_wrap dd ul li.textbox2 {width: 31%;margin: .5rem 0 .5rem 1%;height: 200px;}
.popup_wrap dd ul li .private {height: 10rem;border: 1px solid #e6e6e6;padding: .9rem;font-size: .7rem;color: #a4a4a4;line-height: 1.2;word-break: break-all;overflow-y: auto;}
.popup_wrap dd ul li .agree {position: absolute;bottom: 0;}
.popup_wrap dd ul li.category {width: 100%;}
.popup_wrap dd ul li.category .category1 {display: inline-block;width: 35%;}
.popup_wrap dd ul li.category .category2 {display: inline-block;}

/* work detail view */
.popup_work {position:fixed; top:0; left:0; background:rgba(0,0,0,0.7); width:100%; height:100%; overflow-y:auto; z-index:30;}
.popup_work .detail_view {position:relative; top:10%; background:#fff; width:80%; height:auto; margin:0 auto; margin-bottom:3rem;}
.popup_work .detail_view img {width:auto;}
/* .popup_work .detail_view a.pop_close {position:absolute; top:1rem; right:1rem; z-index:5;} */
.popup_work .detail_view a.pop_close {position:fixed; top:5rem; right:7%; z-index:5;}
.popup_work .detail_view .view_box {position:relative;}
.popup_work .detail_view .view_box p.tit_mark {display:inline-block; *display:inline-block; background:#000; padding:.2rem; padding-left:.7rem; padding-right:2rem; font-weight:200; font-size:.6rem; color:#fff; zoom:1;}
.popup_work .detail_view .view_box p.tit {font-weight:400; font-size:1.6rem; color:#000; letter-spacing:-.5px;}
.popup_work .detail_view .view_box:after {content:""; display:block; clear:both;}
.popup_work .detail_view .view_box .view_area {float:left; height:100%; padding:3.5rem 0;}
.popup_work .detail_view .view_box .view_area.left_box {width:35%; padding-left:4.5rem; padding-right:1rem;}
.popup_work .detail_view .view_box .view_area.right_box {position:relative; background:#c7cccf; width:65%; padding-right:4.5rem; padding-bottom:5rem;}
.popup_work .detail_view .view_box .view_area .tit_box {padding-bottom:2rem;border-bottom:2px solid #000;}
/* .popup_work .detail_view .view_box .view_area .view_logo {position:relative; top:1rem; padding-left:5rem;} */
.popup_work .detail_view .view_box .view_area .view_logo {position:absolute; top:5rem; left:5rem;}
.popup_work .detail_view .view_box .view_area .work_info {margin-top:1rem;}
.popup_work .detail_view .view_box .view_area .work_info p.info_tit {font-weight:100; font-size:1.6rem; color:#000;}
.popup_work .detail_view .view_box .view_area .work_info p.info_comments {margin-top:1.5rem; font-weight:200; font-size:.7rem; color:#a4a4a4;}
.popup_work .detail_view .view_box .view_area .work_info .info_list {margin-top:1.5rem;}
.popup_work .detail_view .view_box .view_area .work_info .info_list ul li {margin-bottom:.7rem;}
.popup_work .detail_view .view_box .view_area .work_info .info_list ul li:last-child {margin-bottom:0;}
.popup_work .detail_view .view_box .view_area .work_info .info_list ul li p:first-child {font-weight:200; font-size:.65rem; color:#a4a4a4;}
.popup_work .detail_view .view_box .view_area .work_info .info_list ul li p:last-child {font-weight:200; font-size:.65rem; color:#000;}
.popup_work .detail_view .view_box .view_area .work_info .launch_project {margin-top:2.5rem;}
.popup_work .detail_view .view_box .view_area .work_info .launch_project a {padding-bottom:.1rem; font-weight:200; font-size:.7rem; color:#000; border-bottom:1px solid #000;}
.popup_work .detail_view .view_box .view_area .work_info p.area_tit {display:inline-block; *display:inline-block; width:5rem; margin-right:1rem; padding-top:1rem; font-weight:200; font-size:.7rem; color:#fff; text-align:right; border-top:2px solid #fff; vertical-align:top; zoom:1;}
.popup_work .detail_view .view_box .view_area .work_info .website {position:relative; margin-top:5.6rem;}
.popup_work .detail_view .view_box .view_area .work_info .mobile {position:relative; margin-top:8.5rem;}
.popup_work .detail_view .view_box .view_area .work_info .mobile img {display:inline-block; *display:inline-block; vertical-align:top; zoom:1;}
.popup_work .detail_view .view_box .view_area .work_info .mobile img:first-of-type {position:relative; top:-3.2rem;}

.popup_work .detail_view .view_box .view_area .work_info .mobile.list70 {margin-top:3.7rem;}
.popup_work .detail_view .view_box .view_area .work_info .mobile.list70 img:first-of-type {top:0;}
.popup_work .detail_view .view_box .view_area .work_info .mobile.list70 img:last-of-type {position:relative; top:3rem;}
